/* Estilos globales del servicio - Casilla Electrónica */

body {
  margin: 0;
}

#app {
  width: 100%;
}

/* Visor PDF */
.pdf-iframe {
  background-color: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
  .pdf-iframe {
    background-color: var(--bs-dark);
  }
}

